<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
 </div>
  <div class="row">
    <div class="col-lg-4 text-center"></div>
    <div class="col-lg-2 text-center">
      <p><a href="https://scholar.google.com/citations?user=fmnnGf4AAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=fmnnGf4AAAAJ&hl=en">Google Scholar</i></a></p>
</div>
<div class="col-lg-2 text-center">
      <p><a href="https://glemaitre.github.io/talks/"><i class="fa fa-file-powerpoint-o fa-3x"></i></a></p>
      <p><a href="https://glemaitre.github.io/talks/">Talks</i></a></p>
</div>
<div class="col-lg-4 text-center"></div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2020</h1>

      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong> International electronic health record-derived COVID-19 clinical course profiles: the 4CE consortium</strong></h2>
          G. A. Brat, G. M. Weber, G. Gehlenborg, P. Avillach, N. P. Palmer,
          L. Chiovato, J. Cimino, L. R. Waitman, G. S. Omenn, A. Malovini,
          J. H. Moore, B. K. Beaulieu-Jones, V. Tibollo, S. N. Murphy,
          S. L’ Yi, M. S. Keller, R. Bellazzi, D. A. Hanauer,
          A. Serret-Larmande, A. Gutierrez-Sacristan, J. J. Holmes,
          D. S. Bell, K. D. Mandl, R. W. Follett, J. G. Klann, D. A. Murad,
          L. Scudeller, M. Bucalo, K. Kirchoff, J. Craig, J. Obeid,
          V. Jouhet, R. Griffier, S. Cossin, B. Moal, L. P. Patel,
          A. Bellasi, H. U. Prokosch, D. Kraska, P. Sliz, A. L. M. Tan,
          K. Yuan Ngiam, A. Zambelli, D. L. Mowery, E. Schiver, B. Devkota,
          R. L. Bradford, M. Daniar, C. Daniel, V. Benoit, R. Bey, N. Paris,
          P. Serre, N. Orlova, J. Dubiel, M. Hilka, A. S. Jannot, S. Breant,
          J. Leblanc, N. Griffon, A. Burgun, M. Bernaux, A. Sandrin,
          E. Salamanca, S. Cormont, T. Ganslandt, T. Gradinger, J. Champ,
          M. Boeker, P. Martel, L. Esteve, A. Gramfort, O. Grisel,
          D. Leprovost, T. Moreau, G. Varoquaux, J.-J. Vie, D. Wassermann,
          A. Mensch, C. Caucheteux, C. Haverkamp, <em>G. Lemaitre </em>,
          S. Bosari, I. D. Krantz, A. South, T. Cai & I. S. Kohane<br />
          npj Digital Medecine, 3, vol. 109, pp. 1-9, August 2020
	        <a href="https://www.nature.com/articles/s41746-020-00308-0.pdf">[link]</a><!--<a href="https://github.com/I2Cvb/oct-journal/blob/master/main.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01320791">[HAL]</a>-->
        </li>

      </ul>

      <h1>2018</h1>

      <ul style="list-style-type: none">

        <li class="entry">
	  <h2><strong>Computer-Aided Diagnosis Systems for Prostate Cancer Detection Challenges and Methodologies</strong>. In A. El-Baz, G. Pareek, and J. S. Suri, Prostate Cancer Imaging: An Engineering and Clinical Perspective</h2>
          <em>G. Lemaitre</em>, R. Marti, and F. Meriaudeau<br />
          CRC Press, 2018.
	  <a href="https://www.crcpress.com/Prostate-Cancer-Imaging-An-Engineering-and-Clinical-Perspective/El-Baz-Pareek-Suri/p/book/9781498786232">[Link]</a>
	</li>

        <li class="entry">
	  <h2><strong>Automated detection of planetary craters: open and reproducible benchmark platform for the Martian surface</strong></h2>
          J. Van den Bossche, A. Boucaud, F. Schmidt, <em>G. Lemaitre</em>, A. Lagain, A. Meresescu, and B. Kégl<br />
	  European Planetary Science Congress (EPSC). Berlin: Germany (September 2018)
          <a href="https://drive.google.com/open?id=1GmEN5Htw4b3hkSxDpEsZeMD0iB5Tb9a_">[Abstract]</a>
	</li>

        <li class="entry">
	  <h2><strong>Classification of Retinal Cysts on SD-OCT Images Using Stacked Auto-Encoder</strong></h2>
          K. Alsaih, <em>G. Lemaitre</em>, M. Rastgoo, T. Boon Tang, D. Sidibé, and F. Meriaudeau<br />
	  7th International Conference on Intelligent and Advanced System (ICIAS). Kuala Lumpur: Malaysia (August 2018)
	</li>

        <li class="entry">
	  <h2><strong>The RAMP framework: from reproducibility to transparency in the design and optimization of scientific workflows</strong></h2>
          B. Kégl, A. Boucaud, M. Cherti, A. Kazakci, A. Gramfort, <em>G. Lemaitre</em>, J. Van den Bossche, D. Benbouzid, and C. Marini<br />
	  35th International Conference on Machine Learning (ICML) 2018, Workshop in Reproducibility in Machine Learning (MRL). Stockholmsmässan: Sweden (July 2018)
          <a href="https://openreview.net/pdf?id=Syg4NHz4eQ">[Paper]</a>
	</li>

        <li class="entry">
	  <h2><strong>Estimate Power without Measuring it: a Machine Learning Application</strong></h2>
	  <em>G. Lemaitre</em> and C. Lemaitre<br />
	  Science & Cycling 2018. Nantes: France (July 2018)
          <a href="https://github.com/scikit-cycling/research/blob/master/power_regression/abstract.pdf">[Abstract]</a>
	  <a href="https://github.com/scikit-cycling/science_cycling_2018_presentation/blob/master/presentation.pdf">[Slides]</a>
	</li>

        <li class="entry">
	  <h2><strong>Machine Learning Methods to Identify ICMEs automatically</strong></h2>
	  G. Nguyen, D. Fontaine, N. Aunai, J. Van den Bossche, A. Jeandet, <em>G. Lemaitre</em>, B. Kégl, and E. Le Pennec<br />
	  European Geosciences Union General Assembly (EGU) 2018. Vienna: Austria (April 2018)
          <a href="https://meetingorganizer.copernicus.org/EGU2018/EGU2018-1963.pdf">[Abstract]</a>
	</li>

        <li class="entry">
	  <h2><strong>Computer-aided detection and diagnosis using multi-modal MRI for prostate cancer detection</strong></h2>
	  <em>G. Lemaitre</em>, F. Meriaudeau, A. Meyer-Baese, R. Martí, K. Pinker-Domenig, P. Andrzejewski, P. A. T. Baltzer, and J. Massich<br />
	  European Congress of Radiology (ECR) 2018. Vienna: Austria (February 2018)
          <a href="https://drive.google.com/file/d/1HwzOLLzpbIG1VdoaU7pPQikBXHMGydAR/view?usp=sharing">[Abstract]</a>
	</li>

      </ul>

      <h1>2017</h1>
      <ul style="list-style-type: none">

        <li class="entry">
	  <h2><strong>Machine learning techniques for diabetic macular edema (DME) classification on SD‐OCT images</strong></h2>
          K. Alsaih, <em>G. Lemaitre</em>, M. Rastgoo, J. Massich, D. Sidibé, and F. Meriaudeau<br />
	  BioMedical Engineering Online, vol. 16(1), pp. 68-80, June 2017
	  <a href="https://biomedical-engineering-online.biomedcentral.com/articles/10.1186/s12938-017-0352-9">[Open Access]</a>
	</li>

        <li class="entry">
	  <h2><strong>Leverage knowledge from under-represented classes in machine learning: an introduction to imbalanced-learn</strong></h2>
	  <em>G. Lemaitre</em> and C. Aridas<br />
	  PyParis 2017. Paris: France (June 2017)
	  <a href="https://glemaitre.github.io/talks/2017_PyParis/#1">[Slides]</a>
	</li>

        <li class="entry">
	  <h2><strong>Computer-Aided Detection for Prostate Cancer Detection based on Multi-Parametric Magnetic Resonance Imaging</strong></h2>
	  <em>G. Lemaitre</em>, R. Marti, M. Rastgoo, and F. Meriaudeau<br />
	  39th International Conference of the IEEE Engineering in Medicine and Biology Society (EMBC) 2017. Jeju Island: Korea (August 2017)
	  <a href="https://github.com/glemaitre/embc-2017/blob/master/root.pdf">[GitHub]</a><a href="https://hal.inria.fr/hal-01516245">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>An anomaly detection approach for the identification of DME patients using SD-OCT images</strong></h2>
          D. Sidibe, S. Sankar, <em>G. Lemaitre</em>, M. Rastgoo, J. Massich, C. Y. Cheung, G. S. W. Tan, D. Milea, E. Lamoureux, T. Y. Wong, and F. Meriaudeau<br />
	  Computer Methods and Programs in Biomedicine, vol. 139, pp. 109-117, February 2017
	  <a href="{{ 'static/pdf/CMPB_oct_V2.pdf' | prepend: site.baseurl }}">[link]</a><!--<a href="https://github.com/I2Cvb/oct-journal/blob/master/main.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01320791">[HAL]</a>-->
	</li>

	<li class="entry">
	  <h2><strong>Imbalanced-learn: A Python Toolbox to Tackle the Curse of Imbalanced Datasets in Machine Learning</strong></h2>
          <em>G. Lemaitre</em>, F. Nogueira, and C. K. Aridas<br />
	  Journal of Machine Learning Research, vol. 18, pp. 1-5, January 2017
	  <a href="https://github.com/glemaitre/unbalanced_dataset_jmlr/blob/master/lemaitre2016a.pdf">[GitHub]</a><a href="http://www.jmlr.org/papers/volume18/16-365/16-365.pdf">[JMLR]</a><a href="https://hal.inria.fr/hal-01516244">[HAL]</a>
	</li>

      </ul>

      <h1>2016</h1>
      <ul style="list-style-type: none">

        <li class="entry">
	  <h2><strong>Classification of SD-OCT Volumes using Local Binary Patterns: Experimental Validation for DME detection</strong></h2>
          <em>G. Lemaitre</em>, M. Rastgoo, J. Massich, C. Y. Cheung, T. Y. Wong, E. Lamoureux, D. Milea, F. Meriaudeau, and D. Sidibe<br />
	  Journal of Ophthalmology, vol. 2016, Mai 2016
	  <a href="http://www.hindawi.com/journals/joph/2016/3298606/">[link]</a><a href="https://github.com/I2Cvb/oct-journal/blob/master/main.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01320791">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Classifying DME vs normal SD-OCT volumes: A review</strong></h2>
	  J. Massich, M. Rastgoo, <em>G. Lemaitre</em>, C. Cheung, T. Y. Wong, D. Sidibe, and F. Meriaudeau<br />
	  23rd International Conference on Pattern Recognition (ICPR) 2016. Cancun: Mexico (December 2016)
	  <a href="https://github.com/I2Cvb/massich-2016-dec/blob/master/main.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01376469">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Classification of SD-OCT volumes with multi-pyramids, LBP and HoG descriptors: Application to DME detection</strong></h2>
	  K. Alsaih, <em>G. Lemaitre</em>, J. Massich, M. Rastgoo, D. Sidibe, T. Y. Wong, E. Lamoureux, D. Milea, C. Leung, and F. Meriaudeau<br />
	  38th International Conference of the IEEE Engineering in Medicine and Biology Society (EMBC) 2016. Orlando: USA (August 2016)
	  <a href="https://github.com/I2Cvb/alsaih-2016-aug-doc/blob/master/main.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01320212">[HAL]</a><a href="https://github.com/I2Cvb/embc_aug_2016/blob/master/poster.pdf">[poster]</a>
	</li>

        <li class="entry">
	  <h2><strong>Video-based depression detection using local curvelet binary patterns in pairwise orthogonal planes</strong></h2>
	  A. Pampouchidou, K. Marias, M. Tsiknakis, P. Simos, F. Yang, <em>G. Lemaitre</em>, and F. Meriaudeau<br />
	  38th International Conference of the IEEE Engineering in Medicine and Biology Society (EMBC) 2016. Orlando: USA (August 2016)
	  <a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01354878">[HAL]</a>
	</li>

	<li class="entry">
	  <h2><strong>Computer-aided diagnosis of diagnostically challenging lesions in breast MRI: a comparison between a radiomics and a feature-selective approach</strong></h2>
	  S. Hoffmann, M. Lobbes, I. Houben, K. Pinker-Domenig, G. Wengert, B. Burgeth, U. Meyer-Bäse, <em>G. Lemaitre</em>, and A. Meyer-Baese<br />
	  SPIE Commercial+ Scientific Sensing and Imaging. Baltimore: USA (July 2016)
	</li>

        <li class="entry">
	  <h2><strong>A combined three-dimensional digitisation and subsurface defect detection data using active infrared thermography</strong></h2>
	  M. Belkacemi, C. Stolz, A. Mathieu, <em>G. Lemaitre</em>, and O. Aubreton
	  13th Quantitative Infrared Thermography Conference (QIRT). Gdansk: Poland (July 2016)
	  <a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01320167">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Wood fiber orientation assessment based on punctual laser beam excitation: A preliminary study</strong></h2>
	  M. Belkacemi, J. Massich, <em>G. Lemaitre</em>, C. Stolz, V. Daval, G. Pot, O. Aubreton, R. Collet, and F. Meriaudeau
	  13th Quantitative Infrared Thermography Conference (QIRT). Gdansk: Poland (July 2016)
	  <a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01320156">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Study of Data Imbalancing for Melanoma Classification</strong></h2>
	  M. Rastgoo, <em>G. Lemaitre</em>, J. Massich, O. Morel, F. Marzani, R. Garcia, and F. Meriaudeau
	  3rd International Conference on BIOIMAGING. Rome: Italy (February 2016)
	  <a href="https://github.com/I2Cvb/BIOIMAGING-2016-dermatology/blob/master/master.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01250949v1">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Normalization of T2W-MRI prostate images using Rician a priori</strong></h2>
	  <em>G. Lemaitre</em>, M. Rastgoo, J. Massich, J. C. Vilanova, P. M. Walker, J. Freixenet, A. Meyer-Baese, F. Meriaudeau, and R. Marti
	  SPIE Medical Imaging 2016. San Diego: USA (February 2016)
	  <a href="https://github.com/I2Cvb/spie_mi_2015_t2w_normalisation_prostate/blob/master/master.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01265774v1">[HAL]</a><a href="https://github.com/I2Cvb/spie_mi_2015_t2w_normalisation_prostate_presentation/blob/master/poster.pdf">[poster]</a>
	</li>

        <li class="entry">
	  <h2><strong>Classification of melanoma lesions using sparse coded features and random forests</strong></h2>
	  M. Rastgoo, <em>G. Lemaitre</em>, O. Morel, J. Massich, F. Marzani, R. Garcia, and D. Sidibe
	  SPIE Medical Imaging 2016. San Diego: USA (February 2016)
	  <a href="https://github.com/I2Cvb/spie_mi_2015_melanoma_sparsity/blob/spie/master.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01250955v1">[HAL]</a>
	</li>

      </ul>

      <h1>2015</h1>
      <ul style="list-style-type: none">

        <li class="entry">
	  <h2><strong>Non Destructive Testing based on a Scanning-From-Heating approach: Application to non-through Defect Detection and Fiber Orientation Assessment</strong></h2>
	  M. Belkacemi, C. Stolz, A. Mathieu, <em>G. Lemaitre</em>, J. Massich, and O. Aubreton<br />
	  Journal of Electronic Imaging, vol. 24(6), pp 1-8, Nov/Dec 2015
	  <a href="http://electronicimaging.spiedigitallibrary.org/article.aspx?articleid=2474100">[link]</a><a href="https://github.com/I2Cvb/spie-jei-2015">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01235896v1">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Computer-Aided Detection and Diagnosis for prostate cancer based on mono and multi-parametric MRI: A Review</strong></h2>
	  <em>G. Lemaitre</em>, R. Marti, J. Freixenet, J. C. Vilanova, P. M. Walker, and F. Meriaudeau<br />
	  Computer in Biology and Medicine, vol. 60, pp 8 - 31, May 2015
	  <a href="http://www.sciencedirect.com/science/article/pii/S001048251500058X">[link]</a><a href="https://github.com/glemaitre/CADs-prostate-survey">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01235868">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Real-Time Optical Flow with Theoretically Justified Warping Applied to Medical Imaging</strong></h2>
	  A. Meyer-Baese, J. Massich, <em>G. Lemaitre</em>, and M. Rastgoo
	  Breast Image Analysis Workshop (BIA), Medical Image Computing and Computer Assisted Interventions (MICCAI) 2015. Munich: Germany (October 2015)
          <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpYlhuYWpDVFFCTDA/view?usp=sharing">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01235869v1">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Classification of SD-OCT volumes with LBP: Application to DME detection</strong></h2>
	  <em>G. Lemaitre</em>, M. Rastgoo, J. Massich, S. Sankar, F. Meriaudeau, and D. Sidibe
	  Ophthalmic Medical Image Analysis Workshop (OMIA), Medical Image Computing and Computer Assisted Interventions (MICCAI) 2015. Munich: Germany (October 2015)
          <a href="https://github.com/I2Cvb/oct-Report/blob/master/master.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01235888">[HAL]</a>
	</li>

        <li class="entry">
	  <h2><strong>Brest Ultra-Sound image Segmentation: an Optimization approach based on super-pixels and high-level descriptors</strong></h2>
	  J. Massich, <em>G. Lemaitre</em>, J. Marti, and F. Meriaudeau
	  International Conference on Quality Control and Artificial Vision (QCAV) 2015. Le Creusot: France (June 2015)
          <a href="https://github.com/massich/miccai2015/blob/master/master.pdf">[GitHub]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01235871">[HAL]</a>
	</li>

	<li class="entry">
	  <h2><strong>A Boosting Approach for Prostate Cancer Detection using Multi-parametric MRI</strong></h2>
	  <em>G. Lemaitre</em>, J. Massich, R. Marti, J. Freixenet, J. C. Vilanova, P. M. Walker, D. Sidibe, and F. Meriaudeau
	  International Conference on Quality Control and Artificial Vision (QCAV) 2015. Le Creusot: France (June 2015)
	  <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpTDRhRVVkV2stSFU/view?usp=sharing">[PDF]</a><a href="https://hal-univ-bourgogne.archives-ouvertes.fr/hal-01235890">[HAL]</a><a href="https://github.com/glemaitre/qcav-2015/blob/master/presentation.pdf">[presentation]</a>
	</li>

	<li class="entry">
	  <h2><strong>Business Model Design for University Technology Valorisation</strong></h2>
	  <em>G. Lemaitre</em>, A. Bikfalvi, J. Llach, J. Massich, and F. Julian
	  International Technology, Education and Development Conference (INTED) 2015. Madrid: Spain (March 2015)
	  <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpX093TVlvNC0wWWc/view?usp=sharing">[PDF]</a>
	</li>

      </ul>

      <h1>2014</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Valorisation of Computorised Technology in the Health Care Sector</strong></h2>
	  <em>G. Lemaitre</em>, A. Bikfalvi, and J. Llach
	  Thesis for Master in Science Business Innovation and Technology Management (BITM), 2014
	  <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpWXpHQnRMdjJCNTg/edit?usp=sharing">[manuscript]</a><a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpeGxvNEV3cmxPUlU/edit?usp=sharing">[presentation]</a>
	</li>


      </ul>

      <h1>2012</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Pruning AdaBoost for Continuous Sensors Mining Applications</strong></h2>
	  M. Rastgoo, <em>G. Lemaitre</em>, X. Rafael, F. Miralles, and P. Casale
	  Ubiquitous Data Mining Workshop, 20th European Conference in Artificial Intelligence 2012. Montpellier: France (August 2012)
	  <a href="https://docs.google.com/file/d/0B-DJ98-Q1GtpN0pFajR1TVBhZGc/edit?usp=sharing">[PDF]</a><a href="https://docs.google.com/file/d/0B-DJ98-Q1GtpUWhTT1M0Y2Fod0k/edit?usp=sharing">[poster]</a>
	</li>

	<li class="entry">
	  <h2><strong>Real-Time 2D Face Detection and Features-based Tracking in Video</strong></h2>
	  <em>G. Lemaitre</em>, E. Vargiu, J.A. Lorenzo Fernández, and F. Miralles
	  IADIS Multi Conference in Computer Science in Computer Graphics, Visualization, Computer Vision and Image Processing 2012. Lisbon: Portugal (July 2012)
	  <a href="https://docs.google.com/file/d/0B-DJ98-Q1GtpbS0wSnVjMnRpQU0/edit?usp=sharing">[PDF]</a>
	</li>

      </ul>

      <h1>2011</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Absolute Quantification in 1H MRSI of the Prostate at 3T</strong></h2>
	  <em>G. Lemaitre</em> and P.M. Walker
	  Thesis for Master in Science Vision and roBOTic (ViBOT), 2011
	  <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpUk5jc3o5Y0l1RTQ/edit?usp=sharing">[manuscript]</a><a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpZHVIeUVMeUZPdnM/edit?usp=sharing">[presentation]</a>
	</li>

      </ul>

      <h1>2008</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Nessie III Autonomous Underwater Vehicle for SAUC-E 2008</strong></h2>
	  J. Cartwright, N. Johnson, B. Davis, Z. Qiang, T.L. Bravo, A. Enoch, <em>G. Lemaitre</em>, H. Roth, and Y. Petillot
	  The Unmanned Underwater Vehicle Showcase (UUVS). 2008
	  <a href="http://osl.eps.hw.ac.uk/files/uploads/publications/20080826-nessie-uuvs-paper.pdf">[PDF]</a>
	</li>

      </ul>

      <h1>Thesis</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Computer-aided diagnosis for prostate cancer using multi-parametric magnetic resonance imaging</strong></h2>
	  <em>G. Lemaitre</em>, J. Freixenet, P.M. Walker, F. Meriaudeau, and R. Marti
	  PhD at Universitat de Girona-ViCOROB and Universite de Bourgogne-LE2I, 2016
	  <a href="https://github.com/glemaitre/phd_thesis/blob/master/thesis.pdf">[GitHub]</a><a href="https://github.com/glemaitre/presentation_phd/blob/master/presentation.pdf">[presentation]</a>
	</li>


	<li class="entry">
	  <h2><strong>Valorisation of Computorised Technology in the Health Care Sector</strong></h2>
	  <em>G. Lemaitre</em>, A. Bikfalvi, and J. Llach
	  Master in Science Business Innovation and Technology Management (BITM), 2014
	  <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpWXpHQnRMdjJCNTg/edit?usp=sharing">[manuscript]</a><a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpeGxvNEV3cmxPUlU/edit?usp=sharing">[presentation]</a>
	</li>

	<li class="entry">
	  <h2><strong>Absolute Quantification in 1H MRSI of the Prostate at 3T</strong></h2>
	  <em>G. Lemaitre</em> and P.M. Walker
	  Master in Science Vision and roBOTic (ViBOT), 2011
	  <a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpUk5jc3o5Y0l1RTQ/edit?usp=sharing">[manuscript]</a><a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpZHVIeUVMeUZPdnM/edit?usp=sharing">[presentation]</a>
	</li>

      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
